

* {
  border-radius: 0 !important;
}

body {
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
	text-align: center;
	color: white;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid #FEFEFE 1px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.jlabel {
	display: inline-block;
	width: 85px;
}

input {
	vertical-align: middle;
	width: 50px;
  height: 200px;
}

.zoneval {
	width: 50px;
	display: inline-block;
	font-size: 10px;
}

.slider {
  width: 50px;
  height: 200px;
  display: inline-block;
  -webkit-appearance: slider-vertical;


}